<h1>UrlShortner</h1>
<%= form_for :url_shortner, url: url_shortner_urlresult_path do |f| %>
  <p>
  <%= f.label :url %><br>
  <%= f.text_field :url %>
  </p>

  <p>
  <%= f.submit %>
  </p>

<% end %>
